<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <title>学生列表</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th><span>姓名</span></th>
            <th><span>性别</span></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="student : ${pageInfo.getList()}">
            <td th:text="${student.getName()}"></td>
            <td th:text="${student.getGender() == 0}?'男':'女'"></td>
        </tr>

        <!--导航条-->
        <tr>
            <input type="hidden" id="current" th:value="${currentIndex}"/>
            <input type="hidden" id="max" th:value="${pageInfo.getPages()}"/>
            <!--前一页-->
            <td th:switch="${currentIndex}">
                <a th:case="1" ></a>
                <a id="pre" th:case="*" href="javascript:pre()">上一页</a>
            </td>

            <td>
                <select id="page">
                    <option th:selected="${currentIndex eq i}"
                            th:each="i:${#numbers.sequence(1,pageInfo.getPages())}" th:value="${i}" th:text="${i}"></option>
                </select>
                <button onclick="go()">跳转</button>
            </td>

            <!--后一页-->
            <td th:switch="${currentIndex}">
                <a th:case="${pageInfo.getPages()}" ></a>
                <a id="next" th:case="*" href="javascript:next()">下一页</a>
            </td>
        </tr>
    </tbody>
</table>
</body>
<script type="text/javascript">
    function pre() {
        let page = $("#current").val();
        if(--page < 0){
            page = 1;
        }
        window.location.href = "/user/list/" + page;
    }
    function next() {
        let page = $("#current").val();
        if(++page > $("#max").val()){
            page--;
        }
        window.location.href = "/user/list/" + page;
    }
    function go() {
        let page = $("#page").val();
        window.location.href = "/user/list/" + page;
    }
</script>
</html>